apiVersion: v2
name: node-red
description: A Helm chart for Node-Red, a low-code programming for event-driven applications
home: https://nodered.org/
sources:
  - https://github.com/SchwarzIT/node-red-chart

icon: https://nodered.org/about/resources/media/node-red-icon-2.png

type: application

version: 0.34.0
appVersion: 4.0.8

keywords:
  - node-red
  - iot
  - home
  - automation

maintainers:
  - name: dirien
    email: engin@pulumi.com
    url: https://pulumi.com
  - name: Kaktor
    email: felix.kammerer@mail.schwarz
    url: https://jobs.schwarz

annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - Update k8s-sidecar to 1.28.4
    - Update Node-Red to 4.0.8
  artifacthub.io/images: |
    - name: node-red
      image: docker.io/nodered/node-red:4.0.8
    - name: node-red-sidecar
      image: quay.io/kiwigrid/k8s-sidecar:1.28.4
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: website
      url: https://jobs.schwarz
  artifacthub.io/maintainers: |
    - name: dirien
      email: engin.diri@mail.schwarz
    - name: Kaktor
      email: felix.kammerer@mail.schwarz
