apiVersion: v2
name: node-red
description: A Helm chart for Node-Red, a low-code programming for event-driven applications
home: https://nodered.org/
sources:
  - https://github.com/SchwarzIT/node-red-chart

icon: https://nodered.org/about/resources/media/node-red-icon-2.png

type: application

version: 0.3.2
appVersion: "2.1.4"

keywords:
  - node-red
  - iot
  - home
  - automation

maintainers:
  - name: dirien
    email: engin.diri@mail.schwarz
    url: https://jobs.schwarz

annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - Updated node-red image to 2.1.4
    - Updated node-red image to 2.1.3
  artifacthub.io/images: |
    - name: node-red
      image: docker.io/nodered/node-red:2.1.4
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: website
      url: https://jobs.schwarz
  artifacthub.io/maintainers: |
    - name: dirien
      email: engin.diri@mail.schwarz
