name: build-docker-images

on:
  push:
    paths:
      - Dockerfiles/**
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    paths:
      - Dockerfiles/**

permissions: write-all

defaults:
  run:
    working-directory: Dockerfiles

env:
  SUFFIX: ${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - name: Checkout
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2.4.0
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@27d0a4f181a40b142cce983c5393082c365d1480 # renovate: tag=v1.2.0

      - name: Tests the container build
        run: |
          make SUFFIX=${{ github.run_number }} build-container-image

  release:
    needs: build
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    runs-on: ubuntu-latest
    if: success() && startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2.4.0
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@27d0a4f181a40b142cce983c5393082c365d1480 # renovate: tag=v1.2.0

      - name: Docker Login
        uses: docker/login-action@dd4fa0671be5250ee6f50aedf4cb05514abda2c7 # tag=v1.14.1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push the container build
        run: |
          make SUFFIX=${{ github.run_number }} push-container-image